<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="classes" thread-count="2">

    <!--    <parameter name="org.apache.commons.logging.Log" value="org.apache.commons.logging.impl.Log4JLogger" />-->
    <test name="Test Suite">
        <classes>
            <class name="tests.WebTablePageTest"/>
            <class name="tests.ButtonsPageTest"/>

        </classes>
    </test>

</suite>

